/****** Object:  Table [dbo].[Friends]    Script Date: 12/05/2014 11:50:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Friends](
	[UserId] [int] NULL,
	[FriendId] [int] NULL
) ON [PRIMARY]
